h1 {
    font-family: 'Times New Roman', Times, serif;
}

nav a{
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-family: 'Times New Roman', Times, serif;
}
div{
    font-family: 'Times New Roman', Times, serif;
}
.text-dark{
    color:aliceblue;
}