/*body {
    
    background-image: url("./img/v2-MINIMALIST-LANDSCAPE-SUN-4k.png");
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
}*/

nav a{
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-family: 'Times New Roman', Times, serif;
}
div{
    font-family: 'Times New Roman', Times, serif;
}
